<div class='container' style='width: 350px;'>
	<form action='#' method="POST" id="form">
		
		<div class='input-group-sm'>
			<label>Nome</label>
			<input type='text' class='form-control input-sm' name='nome' id='nome' />
		</div>

		<div class='input-group-sm'>
			<label>Email</label>
			<input type='email' class='form-control input-sm' name='email' id='email' />
		</div>

		<div class='row'>
			<div class='input-group-sm col-md-6'>
				<label>Senha</label>
				<input type='password' class='form-control input-sm' name='password' id='password' />
			</div>

			<div class='input-group-sm col-md-6'>
				<label>Confirmar senha</label>
				<input type='password' class='form-control input-sm' name='confirm_password' id='confirm_password' />
			</div>
		</div>

	</form>	
	<div class='row' style="margin-top: 10px;">
		<div class='col-md-12'>
			<button class='btn btn-success btn-xs'><span class='glyphicon glyphicon-ok-sign'/></span> Salvar</button>
			<button class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-minus-sign'/></span> Cancelar</button>
		</div>
	</div>
	
</div>